@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: rgb(11, 11, 65);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(blue, crimson);
}